.hero-container {
  position: relative;
  min-height: 88dvh;
  width: 100%;
  background: url('/public/images/banner.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 10;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-text {
  text-align: center;
}

.hero-heading {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.hero-heading .highlight {
  color: #f1c40f;
}

.hero-description {
  margin-top: 1px;
  font-size: 20px;
  color: #ffffff;
  max-width: 600px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  object-fit: contain;
}

.hero-image-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.hero-image {
  width: 100%;
  object-fit: contain;
}


@media (min-width: 1024px) {
  .hero-content {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 100dvh;
  }

  .hero-text {
    text-align: left;
  }

  .hero-heading {
    font-size: 50px;
  }

  .hero-image-wrapper {
    width: 500px;
    height: 500px;
  }
}
